[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "ctags"]
	path = ctags
	url = git@github.com:universal-ctags/ctags.git
[submodule "i3blocks-contrib"]
	path = i3blocks-contrib
	url = git@github.com:vivien/i3blocks-contrib.git
